.wrapper{
    display: flex;
}
.cars {
    display: flex;
    flex-direction: column;
}
.column {
    width: 45%;
    
}


.title {
    text-align: center;
}
.card-wrap {
    width: 600px;
    border: solid black 1px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding-left: 8px;
    padding-right: 10px;
}

.card-info {
    margin-top: 15px;
    display: flex;
    gap: 40px;
}
.item-text {
    font-size: 18px;
    font-weight: bold;
}
.item-img {
    width: 250px;
    height: 150px;
}

button {
    width: 75px;
    background-color: gray;
    padding-left: 4px;
    margin-top: 40px;
}